@tailwind base;
@tailwind components;
@tailwind utilities;

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  .postsContainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 14px;
  }

